body{
    margin-top:15em;
    margin-left: 50em;
    background-image:  url("deloitte_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#box{
border: 1px solid black;
padding :10px;
margin-right: 40em;
background-color: darkgray;
border-radius: 5px;
}

h1{
    text-align: center;
}

